/*      HOME PAGE       */

/* START HEADER */
header {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#headerTitleFrame {
    border: 4px solid #EDF4ED;
    width: fit-content;
    position: absolute;
    top: 20vh;
}
#headerTitleFrameInner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    background-color: #00000096;
}
#titleHeader {
    font-family: 'Josefin', sans-serif;
    font-size: min(12vw, 7rem);
    font-weight: bold;
    color: #EDF4ED;
    /* margin: 10px;
    padding: 1.5vw 10vw 0 10vw; */
}
h1 {
    color: #EDF4ED;
}
#headerNavContainer {
    position: absolute;
    top: calc(100vh - 200px);
    border-bottom: 4px solid #EDF4ED;
    width: 100%;
}
#headerNavContainer ul {
    list-style: none;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    font-size: 1.5rem;
    font-weight: bold;
    color: #EDF4ED;
    background-image: linear-gradient(#00000000, #000000bd);
    margin-bottom: 3px;
    padding-bottom: 10px;
}
#headerNavContainer a {
    color: #EDF4ED;
    text-decoration: none;
    transition: .3s;
}
#headerNavContainer a:hover {
    color: #c1d196;
}
#headerBottom {
    height: 40px;
    width: 100%;
    background-image: linear-gradient(#000000b4, #202918e1);
    position: absolute;
    top: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
}
#headerBottom img {
    filter:
        invert(91%)
        sepia(3%)
        saturate(315%)
        hue-rotate(71deg)
        brightness(108%)
        contrast(92%);
    margin-top: -5px;
    animation: scrollBop 4s ease 1s infinite;
    transition: .3s;
}
#headerBottom:hover img {
    filter:
        invert(87%)
        sepia(37%)
        saturate(867%)
        hue-rotate(33deg)
        brightness(91%)
        contrast(80%);
}
@keyframes scrollBop {
    0% {transform: translateY(0px);}
    50% {transform: translateY(8px);}
}
/* END HEADER */

/* START MAIN */
/* START SECTION INFOS */
.infoBand {
    background-color: #4c6339;
    height: 370px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 10px 0 #EDF4ED;
}
#band1 {
    margin-bottom: 40vh;
}
#band2 {
    margin-bottom: 30vh;
}
.infoBand .bandImgFrame {
    height: calc(30vw + 15px);
    width: calc(30vw + 15px);
    border: 3px solid #EDF4ED;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infoBand img {
    height: 30vw;
    width: 30vw;
}
.infoBand div:not(.bandImgFrame) {
    color: #ffffff;
    width: 30vw;
    margin: 0 0 .8rem -1.8rem;
    border-left: 4px solid #EDF4ED;
    padding-left: 1.8rem;
}
.infoBand h2 {
    margin: 0rem 0 1rem 1.5rem;
}
/* END SECTION INFOS */

/* START SECTION PRODUCTS */
#products {
    margin-bottom: 200px;
}
#products h2 {
    text-align: center;
    color: #EDF4ED;
    font-size: 1.7rem;
    padding: 0 70px;
    margin-bottom: 90px;
}
.catFrame {
    height: calc(clamp(330px, 30vw, 520px) + 15px);
    width: calc(clamp(330px, 30vw, 520px) + 15px);
    border: 3px solid #EDF4ED;
    margin: 1.2rem .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border .5s;
}
#productsContainer a {
    height: clamp(330px, 30vw, 520px);
    width: clamp(330px, 30vw, 520px);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-size .5s;
}
#productsContainer a h3 {
    background-color: #354124ce;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 10%;
    padding-bottom: .2rem;
    transition: height .2s ease-out;
}
#productsContainer .catFrame:hover {
    border: 3px solid #4c6339;
}
#productsContainer .catFrame:hover a {
    background-size: 105%;
}
#productsContainer .catFrame:hover h3 {
    height: 98%;
}
#productsContainer {
    width: 76vw;
    margin-left: 12vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
#gums {
    background-image: url('../img/home/cat1.jpg');
}
#oils {
    background-image: url('../img/home/cat2.jpg');
}
#infusions {
    background-image: url('../img/home/cat3.jpg');
}
#liquids {
    background-image: url('../img/home/cat4.jpg');
}
/* END SECTION PRODUCTS */

/* START SECTION CONTACT */
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 200px;
}
#contact h2 {
    text-align: center;
    color: #EDF4ED;
    font-size: 1.7rem;
    margin-bottom: 90px;
}
#map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border: 3px solid #EDF4ED;
    margin-bottom: 70px;
}
#map iframe {
    width: 60vw;
    margin: 5px;
    
}
#contactBtn {
    width: 200px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #354124;
    border: 2px solid #EDF4ED;
    border-radius: 3px;
    color: #ffffff;
    transition: background-color .15s, transform .1s;
}
#contactBtn:hover {
    background-color: #3e4b2a;
}
#contactBtn:active {
    background-color: #354124;
    transform: translateY(3px);
}
/* END SECTION COCNTACT */


/*      QUERIES         */
@media screen and (max-width: 1030px) {
    #band1 {
        flex-direction: column;
    }
    #band2 {
        flex-direction: column-reverse;
    }
    .infoBand {
        height: fit-content;
    }
    .infoBand .bandImgFrame {
        min-height: calc(max(40vw,220px) + 15px);
        width: calc(max(40vw,220px) + 15px);
        margin-top: -25vw;
        margin-bottom: 1rem;
    }
    .infoBand img {
        height: max(40vw,220px);
        width: max(40vw,220px);
    }
    .infoBand div:not(.bandImgFrame) {
        width: 70vw;
    }
    #productsContainer {
        width: 100%;
        margin-left: 0%;
    }
}
@media screen and (max-width: 763px) {
    .catFrame {
        height: calc(max(50vw, 300px) + 15px);
        width: calc(max(50vw, 300px) + 15px);
    }
    #productsContainer a {
        height: max(50vw, 300px);
        width: max(50vw, 300px);
    }
}
@media screen and (max-width: 620px) {
    #headerNavContainer ul {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    #headerNavContainer li {
        margin-bottom: 1vw;
    }
    #headerNavContainer {
        top: calc(100vh - 260px);
    }
    #headerBottom {
        height: 100px;
        top: calc(100vh - 100px);
        align-items: flex-start;
        padding-top: 5px;
    }
    #map iframe {
        width: clamp(310px, 80vw, 450px);
    }
}
/* FOR TOUCHSCREEN DEVICES */
@media (hover: none) {
    #productsContainer .catFrame a {
        background-size: 105%;
    }
    #productsContainer .catFrame h3 {
        height: 98%;
    }
}