/*      COMMON STYLE        */

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Josefin';
    src: url('../font/JosefinSans-VariableFont_wght.ttf');
}

html {
    scroll-behavior: smooth;
    font-size: 110%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-image: url('../img/home/header.jpg');
    background-position: center;
    background-attachment: fixed;
    /* background-size: cover; */
    background-color: #202918d2;
}
main {
    background-color: #202918e1;
    padding-top: 300px;
}


/* START NAVBAR */
nav {
    width: 100%;
    height: 52px;
    border-bottom: 4px solid #EDF4ED;
    position: fixed;
    z-index: 20;
    top: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: .5s;
}
#navList {
    list-style: none;
    background-color: #354124f8;
    width: 100%;
    height: 45px;
    display: grid;
    grid-template-columns: 40% repeat(4, 15%);
    grid-template-rows: 45px;
    grid-template-areas: '_title _home _products _shops _contact';
}
#navTitle {
    grid-area: _title;
}
#navHome {
    grid-area: _home;
}
#navProducts {
    grid-area: _products;
}
#navShops {
    grid-area: _shops;
}
#navContact {
    grid-area: _contact;
}
nav li:not(#navTitle) {
    display: flex;
    justify-content: center;
    align-items: center;
}
#navTitle {
    display: flex;
    align-items: center;
}
#navTitle a {
    font-family: 'Josefin', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 3vw;
    padding-top: 5px;

}
nav a {
    color: #EDF4ED;
    text-decoration: none;
    font-size: 1.2rem;
    transition: .2s;
}
nav a:hover {
    color: #c1d196;
}
.currentPage {
    text-decoration: underline;
}
#navBurger {
    display: none;
    grid-area: _burger;
}
#navBurger img {
    filter:
        invert(91%)
        sepia(3%)
        saturate(315%)
        hue-rotate(71deg)
        brightness(108%)
        contrast(92%);
    cursor: pointer;
    transition: filter 0.3s, transform 0.5s;
}
#navBurger img:hover {
    filter:
        invert(92%)
        sepia(17%)
        saturate(616%)
        hue-rotate(23deg)
        brightness(88%)
        contrast(89%);
}
#navMenuList {
    display: flex;
    height: calc(100vh - 50px);
    width: 40vw;
    margin-top: 10px;
    margin-left: 60vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: #354124f8;
    transform-origin: right;
    transform: scaleX(0);
    transition: .5s;
}
#navMenuList a {
    margin-top: 2.5vh;
    margin-right: 6vw;
}
.navBurgerToggle {
    transform: rotate(90deg);
}
.navMenuToggle {
    transform: scaleX(1) !important;
}
/* END NAVBAR */
/* START FOOTER */
footer {
    height: fit-content;
    width: 100%;
    border-top: 4px solid #EDF4ED;
    background-color: #202918e1;
}
#footerContainer {
    height: fit-content;
    width: 100%;
    background-color: #354124;
    margin-top: 5px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80% 20%;
    grid-template-areas:
        'fInfo fNav fSocial'
        'fBottom fBottom fBottom';
    }
    #footerContainer li {
        color: #ffffff;
    }
#footerContainer a {
    color: #ffffff;
    transition: color .2s, text-decoration .2s;
}
#footerSocial img {
    margin: 6px;
    transition: filter .2s;
}
#footerContainer div:not(#footerBottom) {
    display: flex;
    flex-direction: column;
    padding: 15px 0 15px 25%;
}
#footerContainer #footerBottom ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
#footerContainer ul {
    list-style: none;
}
#footerInfo {
    grid-area: fInfo;
}
#footerNav {
    grid-area: fNav;
}
#footerSocial {
    grid-area: fSocial;
}
#footerBottom {
    grid-area: fBottom;
}
#footerContainer div:not(#footerBottom) ul {
    padding-left: 10px;
    border-left: 3px solid #EDF4ED;
}
#footerBottom li {
    margin: 10px;
}
#footerContainer a:hover {
    color: #c1d196;
    text-decoration: none;
}
#footerSocial a:hover img {
    filter:
        invert(3%)
        sepia(69%)
        saturate(316%)
        hue-rotate(16deg)
        brightness(86%)
        contrast(88%);
}
/* END FOOTER */

#bigdiv {
    height: 3000px;
    width: 50%;
    background-color: tomato;
}

/* QUERIES */
@media screen and (max-width: 750px) {
    nav {
        height: 70px;
    }
    #navList {
        height: 63px;
        grid-template-rows: 63px;
    }
    #navList li:not(#navTitle):not(#navBurger) {
        display: none;
    }
    #navList {
        grid-template-areas: '_title  . . . _burger';
    }
    #footerContainer div:not(#footerBottom) {
        padding: 15px 0 15px 10%;
    }
}
@media screen and (max-width: 615px) {
    #footerContainer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 2fr) 1fr;
        grid-template-areas:
            'fSocial'
            'fInfo'
            'fNav'
            'fBottom';
    }
    #footerSocial ul {
        display: flex;
    }
    #footerContainer div:not(#footerBottom) {
        padding: 15px 0 15px 15px;
    }
}